<div>Cycles</div>

<table>
  <tbody>
    <% @cycles.each do |cycle| %>
      <tr>
        <td><%= link_to cycle.number, program_cycle_path(cycle.program_id, cycle.id) %></td>
        <td><%= link_to 'Show', program_cycle_path(cycle.program_id, cycle.id) %></td>
        <td><%= link_to 'Destroy', program_cycle_path(cycle.program_id, cycle.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', programs_path %>
